<a href="https://colab.research.google.com/github/d0k7/Data-Wrangling-Lab/blob/main/DW_Lab_4_Data_Concatenation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Dataset 1
data1 = {'ID': [1, 2, 3],
         'Name': ['Alice', 'Bob', 'Charlie'],
         'Age': [25, 30, 35]}

# Dataset 2
data2 = {'ID': [4, 5, 6],
         'Name': ['David', 'Eva', 'Frank'],
         'Age': [40, 45, 50]}

# Dataset 3 (for column concatenation)
data3 = {'ID': [1, 2, 3],
         'Salary': [50000, 60000, 70000]}

# Convert dictionaries to DataFrames
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
df3 = pd.DataFrame(data3)

print("Dataset 1:")
print(df1)
print("\nDataset 2:")
print(df2)
print("\nDataset 3:")
print(df3)

Dataset 1:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35

Dataset 2:
   ID   Name  Age
0   4  David   40
1   5    Eva   45
2   6  Frank   50

Dataset 3:
   ID  Salary
0   1   50000
1   2   60000
2   3   70000

**1. Concatenating Along Rows (Adding Data Vertically)**

In [ ]:
# Concatenate along rows
df_row_concat = pd.concat([df1, df2], ignore_index=True)

print("\nConcatenated along rows:")
print(df_row_concat)

Concatenated along rows:
   ID     Name  Age
0   1    Alice   25
1   2      Bob   30
2   3  Charlie   35
3   4    David   40
4   5      Eva   45
5   6    Frank   50

**2. Concatenating Along Columns (Adding Data Horizontally)**

In [ ]:
# Concatenate along columns
df_col_concat = pd.concat([df1, df3], axis=1)

print("\nConcatenated along columns:")
print(df_col_concat)

Concatenated along columns:
   ID     Name  Age  ID  Salary
0   1    Alice   25   1   50000
1   2      Bob   30   2   60000
2   3  Charlie   35   3   70000