In [ ]:
import pandas as pd

# Sample dataset
data = {
    "id": [1, 2, 3],
    "category": ["A", "B", "A"],
    "value": ["100", "200", "300"],  # Stored as strings
}
df = pd.DataFrame(data)

# Convert categorical to numerical using label encoding
df["category_encoded"] = df["category"].astype("category").cat.codes

# Convert numerical stored as strings to integers
df["value"] = pd.to_numeric(df["value"])

# Convert numerical to categorical
df["value_category"] = pd.cut(df["value"], bins=[0, 150, 300], labels=["Low", "High"])

# Display the transformed DataFrame
print("Transformed DataFrame:")
print(df)

Transformed DataFrame:
   id category  value  category_encoded value_category
0   1        A    100                 0            Low
1   2        B    200                 1           High
2   3        A    300                 0           High