<a href="https://colab.research.google.com/github/d0k7/Data-Wrangling-Lab/blob/main/DW_Lab_5_Data_Reshaping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Sample data in wide format
data = {'Product': ['A', 'B', 'C'],
        'Jan_Sales': [150, 200, 250],
        'Feb_Sales': [160, 210, 270],
        'Mar_Sales': [170, 220, 290]}

# Convert dictionary to DataFrame
df = pd.DataFrame(data)

print("Original Dataset (Wide Format):")
print(df)

Original Dataset (Wide Format):
  Product  Jan_Sales  Feb_Sales  Mar_Sales
0       A        150        160        170
1       B        200        210        220
2       C        250        270        290

**1. Reshaping with melt() (Wide to Long)**

In [ ]:
# Melt the data to convert it into long format
df_long = pd.melt(df, id_vars=['Product'],
                  var_name='Month',
                  value_name='Sales')

# Clean up 'Month' column to only contain the month names
df_long['Month'] = df_long['Month'].str.replace('_Sales', '')

print("\nMelted Dataset (Long Format):")
print(df_long)

Melted Dataset (Long Format):
  Product Month  Sales
0       A   Jan    150
1       B   Jan    200
2       C   Jan    250
3       A   Feb    160
4       B   Feb    210
5       C   Feb    270
6       A   Mar    170
7       B   Mar    220
8       C   Mar    290

**2. Reshaping with pivot() (Long to Wide)**

In [ ]:
# Pivot the long format back into wide format
df_wide = df_long.pivot(index='Product', columns='Month', values='Sales')

print("\nPivoted Dataset (Back to Wide Format):")
print(df_wide)

Pivoted Dataset (Back to Wide Format):
Month    Feb  Jan  Mar
Product
A        160  150  170
B        210  200  220
C        270  250  290

**3. Stacking**

In [ ]:
# Stack the dataset (pivoted wide data)
df_stacked = df_wide.stack()

print("\nStacked Data (From Wide to Stacked Format):")
print(df_stacked)

Stacked Data (From Wide to Stacked Format):
Product  Month
A        Feb      160
         Jan      150
         Mar      170
B        Feb      210
         Jan      200
         Mar      220
C        Feb      270
         Jan      250
         Mar      290
dtype: int64

**4. Unstacking**

In [ ]:
# Unstack the dataset to return to wide format
df_unstacked = df_stacked.unstack()

print("\nUnstacked Data (Back to Wide Format):")
print(df_unstacked)

Unstacked Data (Back to Wide Format):
Month    Feb  Jan  Mar
Product
A        160  150  170
B        210  200  220
C        270  250  290