<a href="https://colab.research.google.com/github/d0k7/Data-Wrangling-Lab/blob/main/DW_Lab_2_Data_Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. Filter Rows by Removing Outliers

import pandas as pd

# Sample data: Product Sales
sales_data = pd.DataFrame({
    'Product': ['A', 'B', 'A', 'B', 'A', 'B'],
    'Sales': [100, 50, 250, 300, 150, 120]
})

# Filter out rows where 'Sales' are greater than 200 (considered outliers)
filtered_sales = sales_data[sales_data['Sales'] <= 200]
print("Sales Data After Removing Outliers:")
print(filtered_sales)




# 2. Filter Rows by Selecting Data Within a Certain Range
# Sample data: City Temperatures
temp_data = pd.DataFrame({
    'City': ['CityA', 'CityB', 'CityC', 'CityD', 'CityE'],
    'Temperature': [18, 25, 30, 35, 22]
})

# Filter to get temperatures between 20°C and 30°C
filtered_temp = temp_data[(temp_data['Temperature'] >= 20) & (temp_data['Temperature'] <= 30)]
print("\nCities with Temperature Between 20°C and 30°C:")
print(filtered_temp)



# 3. Filter Columns


# Sample data: Employee Information
employee_data = pd.DataFrame({
    'Name': ['John', 'Alice', 'Bob', 'Mary'],
    'Age': [28, 34, 45, 30],
    'Department': ['HR', 'IT', 'Finance', 'IT'],
    'Salary': [50000, 60000, 75000, 62000]
})

# Select only 'Name' and 'Salary' columns
filtered_columns = employee_data[['Name', 'Salary']]
print("\nEmployee Name and Salary:")
print(filtered_columns)

Sales Data After Removing Outliers:
  Product  Sales
0       A    100
1       B     50
4       A    150
5       B    120

Cities with Temperature Between 20°C and 30°C:
    City  Temperature
1  CityB           25
2  CityC           30
4  CityE           22

Employee Name and Salary:
    Name  Salary
0   John   50000
1  Alice   60000
2    Bob   75000
3   Mary   62000